*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.upperlabel{
    background-color: rgb(252, 9, 203);
    height: 50px;
    width: 100%;
    box-shadow: 1px 0px 5px black;
}
.container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 5px black;
}
input{
    color: rgb(252, 9, 203);
    background-color: rgb(211, 211, 211);
    border: none;
    padding: 5px;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    margin: 5px;
}
input::placeholder{
    color: rgb(83, 83, 83);
    font-size: 12px;
    word-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
button{
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: rgb(252, 9, 203);
    color: white;
    cursor: pointer;
    transition: ease 0.15s;
}
button:hover{
    background-color: rgba(252, 9, 203, 0.673);
    color: rgb(255, 255, 255);
}
.upperin{
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.lowerin{
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.newaccount{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(252, 9, 203);
}
.back{
    width: 150px;
    height: 0%;
    padding: 10px;
}
a{
    margin: 10px;
    text-decoration: none;
    color: white;
    transition: linear 0.1s;
}
a:hover{
    font-size: 15px;
}
