*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #fdbf00;
}
.card{
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
}
.card:hover{
    transform: rotate(-5deg);
}
.card:hover .outside{
    transform: rotateY(-130deg);
}
.outside,
.inside{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
}
.inside{
    background: linear-gradient(to right, #e7e7e7, #fff 30%);
    line-height: 3;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 50%;
}
.outside{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
}
.front,
.back{
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    transform: rotateX(0deg);
}
.front{
    background-color: #fff;
}
.back{
    transform: rotateY(180deg);
    background: linear-gradient(to left, #e7e7e7, #fff 30%);
}
.cake{
    width: 100%;
    position: absolute;
    bottom: 30px;
} 
