*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    height: 100%;
    box-shadow: 0px 0px 20px black;
    backdrop-filter: blur(5px);
    border: 1px solid rgb(65, 63, 63);
   
}
.btn{
    color: white;
    background-color:rgb(252, 9, 203);
    height: 40px;
    width: 330px;
    align-self: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 3px 2px rgba(0, 0, 0,0.22);
}
input{
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    margin: 5px;
    width: 300px;
    height: 20px;
    border: none;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
}
.page{
    padding: 10px;
    align-content: center;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.su{
    padding: 10px;
    margin-top: 15px;
}
a{
    text-decoration: none;
    color:rgb(252, 9, 203);
}
button:hover{
    color: grey;
    background-color: white;
    border : grey solid 1px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 20px;
    width: 80%;
}
.names{
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 120px;
    margin-right: 5px;
}
.all{
    display: flex;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    width: 70%;
    height: 400px;
}
.register{
    margin: 0;
    display: flex;
    width: 450px;
    padding: 10px;
    float: left;
    width: 80%;
}
