body{
    height: 720px;
    background: url(neon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    margin: 10px;
    height: 30px;
    color:transparent;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    font-family: serif;
    word-spacing: 5px;
    transition: linear 0.2s;
}
a:hover{
    color: white;
}
form{
    width: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(225, 0, 255);
}
select{
    margin: 10px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    box-shadow: 0 0 4px black;
}
nav{
    margin-top: 0;
    height: 30px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
option{
    justify-content: center;
    align-items: center;
}
#ticket{
    width: 400px;
    height: 40px;
    border-radius: 10px;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    background-color:rgb(252, 9, 203);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
input{
    cursor: text;
    box-shadow: 0 0 4px black;
}
button:hover{
    background-color: rgb(249, 104, 210);
}
h3{
    justify-content: flex-start;
    color: rgb(250, 249, 249);
}
form{
    background: transparent;
    border: solid 1px grey;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}
